// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
@import 'bespoke-markdown/node_modules/highlight.js/styles/monokai_sublime.css'


/// Tutorial
$tutorial-right = 20px
.tutorial
  position absolute
  right $tutorial-right
  bottom 80px
  padding .5em .75em
  border-radius 20px
  background-color rgba(255, 255, 255, .7)
  font-family 'Cookie', cursive
  font-size 2em
  transition opacity 300ms ease-out
  opacity 0
  &.tutorial-on
    opacity 1
    animation bounce 1s ease-out 0s infinite alternate

@keyframes bounce
  from
    right: $tutorial-right;

  to
    right: $tutorial-right * 2;



for num in (2..5)
  .multi-column-list-{num}
    column-count num


.texto-binario
  animation shine 1s ease-out 0s 1 normal
.texto-normal
  animation shine2 1s ease-out 0s 1 normal

@keyframes shine
  from
    opacity .25
  to
    opacity 1

@keyframes shine2
  from
    opacity .25
  to
    opacity 1

table
  max-width 760px
  text-align center

td:not(:last-child), th:not(:last-child)
  border-right 1px solid rgba(0,0,0,.2)

td
  padding 3px

th
  padding 3px

tr
  border 1px solid rgba(0,0,0,.4)

tr:nth-of-type(2n) > td
  background-color rgba(255,255,255,.4)

thead > tr
  background-color #555
  color white


//-------------------
// stoppable gifs
.stoppable-gif
  cursor pointer

//--------------------
// utilities
img[alt^="right"]
  float right

img[alt^="left"]
  float left

$portrait-size = 175px
.portrait,
.portrait img
  display inline-block
  width $portrait-size
  height $portrait-size
  border-radius ($portrait-size / 2)
  figcaption
    background-color transparent

.portrait.right
  float right


.note
  padding 1em
  margin 0
  position relative
  background-color #fe6
  background-image linear-gradient(#fe6, #f5da41, #f6ef97)
  font-family 'Mate', serif

  &:before,
  &:after
    content: '';
    display: block;
    width: 90%;
    height: 20%;
    position: absolute;
    bottom: 3px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    opacity: 1;
    z-index: -1;
  &:before
    left: 10px;
    transform: rotate(-1deg);
  &:after
    right: 10px;
    transform: rotate(1deg);

  h1
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -5px;

  p
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;

  a
    color: #333

  strong
    color #BB2A9E


.layout-split-2
  flex-direction row
  display flex
  justify-content center
  align-items stretch
  height 100%

  &>section
    width 50%
    flex-grow 1
    text-align center




// ------------------------------------------------------------
// Slide backdrops

// Each backdrop background fades in/out
.bespoke-backdrop
  opacity 0
  will-change opacity
  transition opacity 200ms ease-out 0ms
  &.bespoke-backdrop-active
    z-index 1
    opacity 1
    transition-delay 800ms

.bespoke-slide[data-bespoke-backdrop]
  z-index 2

// Common properties for background backdrops
full-dimension-backdrop(repeat)
  if repeat
    background-size initial
    background-repeat repeat
  else
    background-size cover
    background-repeat no-repeat
  width 100%
  &.bespoke-backdrop-active
    height 100%

// backdrop slides
.detour.bespoke-backdrop
  background-image url(../images/desvio-faded.jpg)
  full-dimension-backdrop(false)

.bespoke-slide[data-bespoke-backdrop="detour"]
  background-color rgba(255,255,255,.6)
  border-radius 8px

.os-icons.bespoke-backdrop
  background-image url(../images/os-icons.jpg)
  full-dimension-backdrop(false)
.os-mac.bespoke-backdrop
  background-image url(../images/os-mac.jpg)
  full-dimension-backdrop(false)
.os-windows.bespoke-backdrop
  background-image url(../images/os-windows.jpg)
  full-dimension-backdrop(false)
  background-position-y 100%
.os-unix.bespoke-backdrop
  background-image url(../images/os-unix.jpg)
  full-dimension-backdrop(false)
.os-linux.bespoke-backdrop
  background-image url(../images/os-linux.jpg)
  full-dimension-backdrop(false)
  background-position-y 100%

.bespoke-slide[data-bespoke-backdrop="os-windows"],
.bespoke-slide[data-bespoke-backdrop="os-linux"]
  color white
  h1
    color white
